<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Blank Page</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  
  

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" th:href="@{/}">
	<img src="images/logo.png" alt="Jones Print Company" height="51" width="81"/>
	</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

  </nav>

 <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
     
 <!--      <li class="nav-item">
        <a class="nav-link" th:href="@{/reports}">
          <i class="fas fa-fw fa-file-alt"></i>
          <span>Reports</span></a>
      </li> -->
        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-user-alt"></i>
          <span>Accounts</span></a>
		  <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">User Accounts:</h6>
          <a class="dropdown-item" th:href="@{/newUser}">New User</a>
		  <a class="dropdown-item" th:href="@{/editUser}">Edit User</a>
		  <!--  <a class="dropdown-item" th:href="@{/deleteUser}">Delete User</a>-->
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">My Account:</h6>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editUserModal">Profile</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#userPasswordModal">Password Reset</a>
        </div>
      </li>        
        
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-fw fa-sign-out-alt"></i>
          <span>Logout</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a th:href="@{/}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">Completed Orders</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
		  <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-success o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">Active Orders</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Pending Approvals</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-danger o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">Canceled Orders</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Area Chart Example
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        -->

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            User Information</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Password</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Password</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr>
                    <td>Admin</td>
                    <td>Admin</td>
                    <td>admin@jpc.com</td>
                    <td>***********************</td>
                    <td>
                    	<button type="button" href="#" data-toggle="modal" data-target="#editUserModal">Edit</button>
                        <button type="button" href="#">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>Raul</td>
                    <td>Andrade</td>
                    <td>randrade@jpc.com</td>
                    <td>***********************</td>
                    <td>
                    	<button type="button" href="#" data-toggle="modal" data-target="#editUserModal">Edit</button>
                        <button type="button" href="#">Delete</button>
                    </td>                  </tr>           
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Jones Print Company 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" th:href="@{/logout}" >Logout</a>
        </div>
      </div>
    </div>
  </div>
  
      <!-- editUserModal Modal-->
  <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Information</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        	<form th:action="@{/}" method="post">

				

						<label for="firstName" class="control-label">First name</label>
						<input id="firstName" class="form-control" />
					
						<label for="lastName" class="control-label">Last name</label> 
						<input id="lastName" class="form-control"  />
					
					
						<label for="email" class="control-label">E-mail</label> 
						<input id="email" class="form-control"  />

						<label for="confirmEmail" class="control-label">Confirm	e-mail</label> 
						<input id="confirmEmail" class="form-control"  />
					
						<label for="password" class="control-label">Password</label> 
						<input id="password" class="form-control" type="password" />
						
						<label for="confirmPassword" class="control-label">Confirm password</label>
						<input id="confirmPassword" class="form-control" type="password"  />
						<br>
					<div class="form-group">					
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" type=submit >Update</a>	
					 </div>					 
					 </form>
				</div>
				        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>
  
      <!-- userPassword Modal-->
  <div class="modal fade" id="userPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Password Reset</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        	<form th:action="@{/}" method="post">

					<!--<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
						error</p>-->
					
				<!--	<div class="form-group"	th:classappend="${#fields.hasErrors('password')}? 'has-error':''">-->
						<label for="password" class="control-label">Password</label> 
						<input id="password" class="form-control" type="password"/>
					<!--	<p class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
					</div> -->
					<!--<div class="form-group"	th:classappend="${#fields.hasErrors('newPassword')}? 'has-error':''">-->
						<label for="newPassword" class="control-label">New password</label>
						<input id="newPassword" class="form-control" type="password" />
						<!--  <p class="error-message" th:each="error : ${#fields.errors('newPassword')}" th:text="${error}">Validation error</p> -->
					<!--</div>	-->
				<!--	<div class="form-group"	th:classappend="${#fields.hasErrors('confirmNewPassword')}? 'has-error':''"> -->
						<label for="confirmNewPassword" class="control-label">Confirm new password</label>
						<input id="confirmNewPassword" class="form-control" type="password" />
						<!--<p class="error-message" th:each="error : ${#fields.errors('confirmNewPassword')}" th:text="${error}">Validation error</p>
					</div>-->
					<br>
					<div class="form-group">					
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" type=submit >Update</a>	
					 </div>					 
					 </form>
				</div>
								        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>
